:root {
    --banana: url(https://i.imgur.com/vX5kZSt.png);
    --realbanana: url(https://i.imgur.com/ydE0HDE.gif);
}

body{
    font-family: "Poppins", sans-serif;
    cursor:url(https://i.imgur.com/ZsV5hbi.gif), auto; /* 游標圖片，尺寸限制128x128內，超過尺寸不會顯示 */ 
    background:
    url(https://i.imgur.com/8h2SyOV.png) no-repeat right 1420px bottom 0px/390px 520px,/*組合*/
    url(https://i.imgur.com/0XdXnzt.gif) no-repeat left 1250px bottom -30px/320px 320px,
    url(https://i.imgur.com/27zbIhq.gif) no-repeat left 875px bottom -30px/320px 320px,
    url(https://i.imgur.com/grEjB4C.gif) no-repeat left 500px bottom -30px/320px 320px,
    url(https://i.imgur.com/scoQ4gc.gif) no-repeat left 1350px bottom 257px/100px 100px, /*小獅子*/
    url(https://i.imgur.com/ew5llIe.png) no-repeat left 1350px bottom 257px/100px 100px,/*小獅子*/
    var(--banana) bottom no-repeat;
    background-attachment: fixed;
    /*transition: all 0.6s ease-in-out;*/
}
*, body, a, a:hover {cursor: url(https://i.imgur.com/ZsV5hbi.gif), auto;}

h1{
    color:#e7cd5a;
    background:#ca8aff79;
    font-size: 120px;
    width: 100%;
    text-align: center;
     opacity:100;
     -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
}
h1:hover{
         opacity:100;
         color:#ca8aff;
         background:#f1dc7f79;
}


ul{
    display: inline;
}

#sample{
    width:293px;
    height:292px;
    background:url(https://i.imgur.com/BKqDxlm.png) no-repeat;
    overflow: hidden;
    z-index:1000;
    background-size:contain;
    position: fixed;
    bottom: 0px;
    right: 0px;
}    
#sample:hover{
    content:"";
    background:url(https://i.imgur.com/4Hl9JAe.png) no-repeat;
    width:293px;
    height:292px;
    background-size:contain;
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0));
    overflow: hidden;
    z-index:1000;
    background-size:contain;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
    
.shuca{
    border-radius: 20px;
    color:#cab65b;
    background-color: #2c2a2a;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1.4;
    height: 130px;
    width: 180px;
    left: 45%;
    opacity:50%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
 .shuca:hover{
    color:#e7cd5a;
    background-color:#754e96;
    opacity: 85%;
 }


 .dark-mode {
    background:var(--realbanana) no-repeat;
    background-color: #AAAAAA;
    background-position: left bottom;
}

.gogogo{
    position: fixed;
    top: 15px;
    right: 15px;}
