@charset "utf-8";

.cal_inner_wrap {}

.cal_inner_wrap .inner {}

.cal_inner_wrap .ad {
  height: 210px;
  margin: -10px auto 10px;
  width: 210px;
}

.footer_ad_wrap {
  margin: 0 auto 20px;
  max-width: 990px;
  width: 100vw;
}

.footer_ad_block {
  margin-bottom: 20px;
  text-align: center;
}

.footer_ad_block:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 741px), print {
  #bnrHeader {
  }
  #bnrHeader .cal_inner_wrap {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
  }
  #bnrHeader .cal_inner_wrap .inner {
    float: left;
    height: 210px;
    width: 770px;
  }
  #bnrHeader .cal_inner_wrap .inner .bx-wrapper {
    height: 210px;
  }
  #bnrHeader .cal_inner_wrap .inner .slider1 {
    height: 210px;
  }
  #bnrHeader .cal_inner_wrap .inner .slider1 li {
    height: 100%;
    max-width: 770px;
    width: 770px!important;
  }
  #bnrHeader .cal_inner_wrap .inner img {
    height: 100%;
    width: auto;
  }
  #bnrHeader .cal_inner_wrap .ad {
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 1px;
  }
  .footer_ad_wrap_wrap {
    margin-bottom: 40px;
    margin-top: 17px;
    width: 100vw;
  }
  .footer_ad_wrap .footer_ad_block {
    float: left;
    margin-bottom: 0;
    margin-left: 5%;
    width: 30%;
  }
  .footer_ad_wrap .footer_ad_block:first-child {
    margin-left: 0;
  }
}
